[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "."

[build.environment]
  NODE_VERSION = "20"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["express", "axios", "cheerio", "cors", "dotenv", "crypto-js", "node-cache", "node-fetch", "cloudflare-scraper", "base-64", "unpacker", "wyzie-lib", "prettier"]
  included_files = ["src/**", "index.js"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
